.wrapper {
  max-width: 600px;
  margin: 40px auto;
  display: block;
}
.weather-app {
  padding: 30px 40px 30px 40px;
  border: 1px solid rgba(34, 33, 33, 1);
}
.header {
  padding-bottom: 40px;
}
.mainTemp strong {
  font-size: 52px;
  font-weight: 500;
  margin-right: 10px;
}
.mainTemp .units {
  position: relative;
  top: -24px;
}
#celsius {
  text-decoration: none;
  cursor: default;
}
#fahrenheit {
  text-decoration: none;
  cursor: default;
}
.weatherIcon {
  position: relative;
}
li {
  list-style: none;
  text-transform: capitalize;
}
.forecast {
padding: 40px 0px 10px 0px;
}