.wrapper {
  max-width: 600px;
  margin: 40px auto;
  display: block;
}
.weather-app {
  padding: 30px 40px 30px 40px;
  border: 1px solid rgba(34, 33, 33, 1);
}
.header {
  padding-bottom: 40px;
}

.forecast {
padding: 40px 0px 40px 0px;
}

li {
  list-style: none;
}