div.container {
    text-align: center;
    display: block;
    margin: 0 auto;
    width: 70%;
  }
  /* spacing */
  table {
    align-items: center;
    table-layout: fixed;
    width: 100%;
    border-collapse: collapse;
    border: 2px solid rgb(106, 106, 109);
  }
  th, td {
padding: 20px;
}
/* icons */
.search-btn {
  background-color: #fff;
}
.partlysun-icon {
  color: steelblue;
  font-size: 50px;
}
.sun-icon {
  color: rgb(238, 238, 91);
  font-size: 50px;
}